@charset "UTF-8";
/*IMPORT*/
/*VARIABLES*/
/*GENERAL*/
html {
  font-family: "Rubik", sans-serif; }

body {
  margin: 0px;
  color: white; }

h1 {
  color: #3a4ca1;
  font-weight: 600; }

p {
  font-size: 1rem;
  color: #6c757d; }

.cajaBlanca, .cardEspecialidad, .serviciosPacientes__caja01 {
  background-color: white;
  box-shadow: 5px 5px 40px #ccc; }

/*HEADER BLOQUE*/
.header__logo img {
  height: 85px;
  width: auto; }

/*BARRA DE NAVEGACIÓN*/
.navbar {
  background-color: #3A4CA1;
  padding: 10px 0px 20px 0px;
  text-transform: uppercase; }

nav ul li {
  color: white;
  text-transform: uppercase;
  list-style: none; }

.dropdown-menu {
  margin-top: 20px;
  border: 0px solid;
  border-radius: none;
  box-shadow: 5px 5px 40px #ccc;
  padding-top: 15px;
  padding-bottom: 15px; }
  .dropdown-menu show {
    width: 50%; }

a.dropdown-item:hover {
  color: #00c5e9;
  background-color: white; }

ul.submenu {
  padding: 0px; }

/*SLIDER-ANIDACIÓN*/
#slider {
  background-image: url("../images/slider01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px; }
  #slider h3 {
    color: white;
    font-weight: 800;
    font-size: 1.8rem; }
  #slider .textoSlider {
    margin-top: 160px; }

/*BLOQUE BAJO SLIDER*/
.bajoSlider {
  background-color: #E1E9EB;
  height: 200px; }
  .bajoSlider .bajoSlider__titulo {
    color: #3A4CA1;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 700; }
  .bajoSlider .bajoSlider__icono {
    height: 60px; }

/*INSTITUCIONAL-ANIDACIÓN*/
#institucional {
  background-image: linear-gradient(to right, #f1fdfc, white); }
  #institucional img {
    height: 400px; }

.institucional__preTitulo {
  font-size: 1rem;
  color: #00c5e9;
  font-weight: 400; }

/*ESPECIALIDADES-BLOQUE Y ANIDACIÓN*/
#especialidades {
  background-color: #CBF6FE; }
  #especialidades col {
    height: 600px; }

.especialidades__titulo h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3a4ca1; }

.especialidades__lista {
  width: 95%; }

.especialidades__imagen img {
  height: 500px; }

.especialidades__item, .especialidades__item-lab {
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  margin-right: 180px;
  width: 100%; }
  .especialidades__item img, .especialidades__item-lab img {
    padding-right: 10px;
    height: 70px; }
  .especialidades__item h5, .especialidades__item-lab h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #48d8ce;
    padding-right: 5px; }

/* STAFF */
.todoElStaff article.itemStaff img {
  width: 100%;
  height: 100%;
  margin-bottom: 30px; }

.todoElStaff article {
  background-color: white;
  box-shadow: 5px 5px 40px #ccc;
  padding-bottom: 10px; }

.todoElStaff {
  margin-bottom: 80px; }

.todoElStaff h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3A4CA1;
  text-align: center; }

.todoElStaff p {
  font-size: 0.8rem;
  font-weight: 300;
  color: #919191;
  text-align: center; }

/*BLOQUE BLOG*/
.blog__noticia {
  border: none;
  box-shadow: 5px 5px 40px #ccc; }

.blog__imagen {
  margin-top: 160px; }

.blog__preTitulo {
  font-size: 1rem;
  color: #00c5e9; }

.blog__titulo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3a4ca1; }

.blog__noticia--destacada {
  border: 5px solid #3A4CA1; }

.btn-primary--chico {
  font-size: 0.8rem; }

.blog__tituloNota {
  font-size: 1.3rem;
  font-weight: 600; }

/*BLOQUE LABORATORIO Y ANIDACIÓN*/
.laboratorio {
  background-color: #cbf6fe; }
  .laboratorio col {
    height: 600px; }
  .laboratorio ul {
    width: 80%; }

.blog__preTitulo {
  color: #00c5e9;
  font-weight: 400; }

.blog__Titulo {
  color: #3a4ca1;
  font-weight: 600; }

.laboratorio__imagen img {
  height: 500px; }

.laboratorio__contenido {
  width: 80%;
  margin-top: 35px; }

/*EXTEND*/
.especialidades__item-lab img {
  height: 40px; }

.laboratorio_texto h3 {
  margin-bottom: 20px;
  width: 80%;
  margin-right: 25px; }

.laboratorio_texto--color {
  color: #3a4ca1;
  font-size: 1.8rem;
  line-height: 1.2px; }

/*BLOQUE NEWSLETTER*/
.newsletters {
  background-color: #00c5e9;
  height: 130px; }

.newsletters__texto {
  font-size: 1.3rem; }

.sinpadding [class*="col-"] {
  padding: 0; }

.newsletters__form {
  boxshadow: 5px 5px 40px #ccc; }
  .newsletters__form .form-control {
    background: white;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    border-radius: 5px 0px 0px 5px; }
  .newsletters__form .submit {
    color: #fff;
    background: #3a4ca1;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid transparent; }
    .newsletters__form .submit:hover {
      cursor: pointer;
      background: #19224c; }

@media (max-width: 767.98px) {
  .newsletters {
    height: 250px; } }

/*CAROUSEL*/
.carousel-caption {
  margin-bottom: 200px;
  width: 500px; }

/*BOTONES Y ENLACES*/
.btn-primary {
  background-color: #3a4ca1;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border: none; }

.btn-primary:hover {
  background-color: #19224c; }

a {
  color: #48d8ce; }
  a:hover {
    color: #3a4ca1;
    text-decoration: none; }

/*EACH y MAPA*/
/*Creamos el bucle para usar los valores del mapa*/
.btn--enlaceFotter {
  font-size: 1rem; }

.btn--enlaceSimple {
  font-size: 1rem; }

.btn--botonChico {
  font-size: 1rem; }

.btn--botonMedio {
  font-size: 1.4rem; }

.btn--botonGrande {
  font-size: 1.6rem; }

/*ESPECIALIDADES*/
.cardEspecialidad__imagen img {
  width: 440px;
  height: 440px; }

.card {
  border: none; }

.cardEspecialidad {
  margin: 10px;
  margin-bottom: 50px; }

.cardEspecialidad__texto h4 {
  font-size: 1.8rem;
  color: #3a4ca1;
  margin-top: 25px; }

#textoPresentacionLab h3 {
  font-size: 1.8rem;
  color: #3a4ca1; }

#serviciosPacientes {
  background-color: #cbf6fe; }

#serviciosPacientes h3 {
  font-size: 1.8rem;
  color: #3a4ca1; }

.PresentacionLab__img img {
  height: 300px; }

.serviciosPacientes__caja01 {
  padding: 20px;
  height: 250px; }
  .serviciosPacientes__caja01 h5 {
    color: #48d8ce;
    font-size: 1rem; }

/* DATOS DE CONTACTO */
.infoFormTurnos__form {
  margin-bottom: 60px; }

.infoFormTurnos__datos {
  background-color: #F9F9F9;
  padding: 20px; }

.infoFormTurnos__texto {
  margin: 10px;
  text-align: center; }

.infoFormTurnos__horarios {
  background-color: #48d8ce;
  padding: 20px; }

.infoFormTurnos__horarios p {
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center; }

.infoFormTurnos__horarios h4 {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  text-align: center; }

.infoFormTurnos__form input {
  background-color: #EFEFEF;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  height: 40px;
  width: 75%; }

.infoFormTurnos__form p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2px;
  margin-top: 20px; }

.infoFormTurnos__form .correo {
  height: 30px; }

.infoFormTurnos__form select {
  background-color: #EFEFEF;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  height: 40px; }

.infoFormTurnos__form input[type=submit] {
  background-color: #3a4ca1;
  font-size: 1rem;
  font-weight: 200;
  color: white;
  border-radius: 5px;
  width: 40%;
  height: 40px; }

.infoFormTurnos__form input[type=submit]:hover {
  background-color: #19224c; }

.infoFormTurnos__form input[type=reset] {
  background-color: transparent;
  font-size: 1rem;
  color: #3a4ca1;
  font-weight: 200;
  border: 1px solid #3a4ca1;
  border-radius: 5px;
  width: 50%;
  height: 40px; }

.infoFormTurnos__form input[type=reset]:hover {
  background-color: #3a4ca1;
  color: white; }

/* FORMULARIOS */
input {
  background-color: #EFEFEF;
  border-radius: 8px;
  border: 1px solid #EFEFEF; }

select {
  background-color: #EFEFEF;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  width: 37%;
  height: 40px; }

textarea {
  background-color: #EFEFEF;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  width: 75%; }

input:hover {
  border: 1px solid blue; }

input:focus {
  border: 1px solid blue; }

textarea:hover {
  border: 1px solid blue; }

textarea:focus {
  border: 1px solid blue; }

/*CABECERAS*/
.cabecera, .cabecera--espe, .cabecera--lab, .cabecera--cont, .cabecera--equipo, .cabecera--turnos {
  color: white;
  height: 250px;
  padding-left: 150px;
  padding-top: 50px;
  line-height: 5px;
  margin-bottom: 60px; }
  .cabecera .breadcrumb, .cabecera--espe .breadcrumb, .cabecera--lab .breadcrumb, .cabecera--cont .breadcrumb, .cabecera--equipo .breadcrumb, .cabecera--turnos .breadcrumb {
    color: white;
    background-color: transparent;
    padding: 1.2rem 0rem; }
  .cabecera .breadcrumb-item a, .cabecera--espe .breadcrumb-item a, .cabecera--lab .breadcrumb-item a, .cabecera--cont .breadcrumb-item a, .cabecera--equipo .breadcrumb-item a, .cabecera--turnos .breadcrumb-item a {
    color: white; }

.breadcrumb-item a:hover {
  color: #48d8ce; }

.breadcrumb-item.active {
  color: white; }

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
  content: ">"; }

.cabecera--espe {
  background-image: url("../images/CabeceraEspe.png");
  background-size: cover; }

.cabecera--lab {
  background-image: url("../images/CabeceraContacto.png");
  background-size: cover; }

.cabecera--cont {
  background-image: url("../images/CabeceraLab.png");
  background-size: cover; }

.cabecera--equipo {
  background-image: url("../images/CabeceraStaff.png");
  background-size: cover; }

.cabecera--turnos {
  background-image: url("../images/CabeceraTurnos.png");
  background-size: cover; }

/*FOOTER*/
.ftco-footer {
  padding: 5em 0 3em 0; }

.footer {
  padding: 5em 0 3em 0; }

.footer__social i {
  color: #48d8ce;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cbf6fe;
  text-align: center;
  margin-right: 8px;
  line-height: 40px; }
  .footer__social i:hover {
    color: #fff;
    background: #3a4ca1; }

.block-23 ul {
  padding: 0; }
  .block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: #48d8ce; }

footer h5 {
  color: #3a4ca1;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 700; }

footer li a {
  color: #ccc; }

footer li a:hover {
  color: #48d8ce;
  text-decoration: none; }

footer span {
  color: #ccc;
  font-size: 1rem; }

/*RESPONSIVE*/
@media (max-width: 576px) {
  .header__cel {
    display: none; }
  .header__mail {
    display: none; }
  .header__boton {
    display: none; }
  .nav-item {
    padding-left: 35px; }
  .navbar-toggler {
    margin-left: 85px;
    border: none; }
  .carousel-caption {
    width: 200px;
    bottom: -80px;
    padding-top: 35px;
    width: 200px;
    height: 200px; }
  h1 {
    font-size: 1.8rem; }
  p {
    line-height: 20px; }
  #BajoSlider {
    height: 400px; }
  .laboratorio__contenido {
    padding-left: 180px; }
  .PresentacionLab__img img {
    height: 250px; }
  .laboratorio_texto h3 {
    line-height: normal; }
  .imagenMobile {
    display: none; }
  .imagenDesktop {
    display: none; }
  .laboratorio__imagen img {
    height: 450pxpx; }
  .cabecera, .cabecera--espe, .cabecera--lab, .cabecera--cont, .cabecera--equipo, .cabecera--turnos {
    padding-left: 20px;
    padding-top: 50px; } }

/*IPAD*/
@media (min-width: 576px) and (max-width: 768px) {
  .header__cel {
    display: none; }
  .header__mail {
    display: none; }
  .header__boton {
    display: none; }
  .nav-item {
    padding-left: 35px; }
  .navbar-toggler {
    margin-left: 85px;
    border: none; }
  .carousel-caption {
    margin-bottom: 180px;
    margin-right: 15px;
    width: 250px;
    align-items: start; }
  #BajoSlider {
    height: 250px;
    width: 768px; }
  .laboratorio__contenido {
    padding-left: 50px; }
  .imagenDesktop {
    display: none; }
  .imagenMobilePhone {
    display: none; }
  .especialidades__item img, .especialidades__item-lab img {
    height: 50px;
    padding: 5; } }

/*IPAD VERTICAL*/
@media (min-width: 768px) and (max-width: 992px) {
  .laboratorio_texto h3 {
    width: 100%;
    margin-bottom: 30px; }
  .laboratorio_texto p {
    line-height: 18px; }
  .laboratorio__imagen img {
    border-radius: 50%; }
  .btn-primary {
    font-size: 1rem; }
  .imagenDesktop {
    display: none; }
  .imagenMobilePhone {
    display: none; }
  #bajoSlider {
    background-color: #E1E9EB;
    width: 768px; }
  .especialidades__item img, .especialidades__item-lab img {
    height: 50px; } }

/*LAPTOP*/
@media (min-width: 992px) and (max-width: 1440px) {
  .carousel-caption {
    width: 500px;
    margin-bottom: 35px; }
  .especialidades__imagen img {
    margin-right: 0px; }
  .laboratorio__imagen img {
    margin-left: 0px; }
  .imagenMobile {
    display: none; }
  .imagenMobilePhone {
    display: none; } }

@media (min-width: 1440px) {
  .carousel-caption {
    width: 500px;
    margin-bottom: 200px; }
  .imagenMobile {
    display: none; }
  .imagenMobilePhone {
    display: none; } }
