/*IMPORT*/
@import "colores";
@import "titulos";

/*VARIABLES*/
$myFont:'Rubik',sans-serif;
$Sobracards:5px 5px 40px #ccc;
$Sombraobjetos:0 0 10px 3px rgba(108,98,98,0.2);




/*GENERAL*/


html{
font-family: $myFont;
}

body{
margin:0px;
}

h1{
color:$colorH1;
font-weight:600;
}
p{
font-size:$textoNormal;
color:$textoColorNormal;
}

.cajaBlanca{
	background-color:white;
	box-shadow:$Sobracards;
}

/*HEADER BLOQUE*/

.header__logo{
	img{height:85px;
		width: auto;}	
}



 /* BARRA NAVEGACIÓN*/

.navbar{
	background-color:#3A4CA1;
	padding:10px 0px 20px 0px;
}

nav ul li{
	color:white;
	text-transform: uppercase;
}




/*SLIDER-ANIDACIÓN*/

#slider{
	background-image: url("../images/slider01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height:500px;

	h3{color:white;
	font-weight:800;
	font-size:$tituloslider;}

		.textoSlider{
			margin-top:160px;}
}


/*BLOQUE BAJO SLIDER*/

.bajoSlider{
	background-color:#E1E9EB;
	height: 200px;

	.bajoSlider__titulo {
		color: #3A4CA1;
	 	text-transform: uppercase;
	 	font-style: normal;
	 	font-size: 1.2rem;
	 	font-weight: 700;
	}

	.bajoSlider__icono {
	 	height:60px;
	 }
}

/*INSTITUCIONAL-ANIDACIÓN*/

#institucional{
	background-image: linear-gradient(to right,#f1fdfc, white);
	 img{
	 height:400px;
}
}
.institucional__preTitulo{
	font-size:$textoNormal;
	color:$colorCeleste;
	font-weight:400;
}


/*ESPECIALIDADES-BLOQUE Y ANIDACIÓN*/

#especialidades{
	background-color: #CBF6FE;
		col{
		height:600px;}
}

.especialidades__titulo h3{
	font-size:$tituloSecciones;
	font-weight:$weight-tiuloSecciones;
	color:$colorAzul;
}

.especialidades__lista{
	width:65%;
}

.especialidades__imagen img{
	height:600px;
}
.especialidades__item{
	background-color:white;
	border-radius:15px;
	padding:10px 15px 10px 5px;
	margin-top:15px;
	margin-right:180px;
	width:100%;
	
	img{
		height: 40px;
		padding-right: 20px;}

	h5{
	font-size:$titulochico;
	font-weight:500;
	color:$colorTurqueza;
	padding-right:15px;}
}


/* STAFF */ 


.todoElStaff article.itemStaff img {
	width:100%;
	height:100%;
	margin-bottom:30px;	
}

.todoElStaff article{
	background-color: white;
	box-shadow: 5px 5px 40px #ccc;
	padding-bottom: 10px;
}

.todoElStaff{
	margin-bottom:80px;
}


.todoElStaff h4{
	font-size:1.5rem;
	font-weight: 600;
	color:#3A4CA1;
	text-align: center;
}

.todoElStaff p{
	font-size: 0.8rem;
	font-weight: 300;
	color:#919191;
	text-align: center;
}

/*BLOQUE BLOG*/


.blog__noticia{
	border:none;
	box-shadow:$Sobracards;
}

.blog__imagen{
	margin-top:160px;
}
.blog__preTitulo{
	font-size:$textoNormal;
	color:$colorCeleste;
}
.blog__titulo{
	font-size:$tituloSecciones;
	font-weight:$weight-tiuloSecciones;
	color:$colorAzul;
}
.blog__noticia--destacada{
	border:5px solid #3A4CA1;
}
.btn-primary--chico{
	font-size:$textoChico;
}
.blog__tituloNota{
	font-size:$titulochico;
	font-weight:600;
}

/*BLOQUE LABORATORIO Y ANIDACIÓN*/


.laboratorio{
	background-color:$colorFondoCele;
	col{
	height:600px;}
	ul {
	width:80%;}
}
.blog__preTitulo{
	color:$colorCeleste;
	font-weight:400;
	
}
.blog__Titulo{
	color:$colorAzul;
	font-weight:600;
}
.laboratorio__imagen img{
		height:600px;
	}
.laboratorio__contenido{
	width:80%;
	margin-top:35px;
}



/*EXTEND*/
.especialidades__item-lab{
	@extend .especialidades__item;	
}

.laboratorio_texto h3{
	margin-bottom:20px;
	width:80%;
	margin-right:25px;

}
.laboratorio_texto--color{
	color:$colorAzul;
	font-size:$tituloSecciones;
	line-height:1.2px;
}

/*BLOQUE NEWSLETTER*/

.newsletters{
	background-color:$colorCeleste;
	height:130px;
}
.newsletters__texto{
	font-size:$titulochico;
}

.sinpadding [class*="col-"] {
    padding: 0;
}

.newsletters__form {
	boxshadow:$Sobracards;
	.form-control{
	background: white;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.7);
    font-size: $itemsIcono;
    border-radius: 5px 0px 0px 5px; }
    .submit{
    	color: #fff;
    	background: $colorAzul;
    	border-radius: 0px 5px 5px 0px;
    	border: 1px solid transparent;
    	&:hover{
				cursor: pointer;
				background: $colorHoverBoton;
			}
    	}   
}


@media (max-width: 767.98px){
	.newsletters{
	height:250px;
}
}


/*FOOTER*/

footer{ 

	h5{
	color:$colorAzul;
 	text-transform: uppercase;
 	font-style: normal;
 	font-size: 1.2rem;
 	font-weight: 700;}

	li a{
	color:$textoGris;}

	li a:hover{
	color:$colorTurqueza;
	text-decoration:none;}

	span{
		color:$colorTurqueza;
		text-transform: uppercase;
		font-size:$textoChico;
	}
}


.footer__Logo{
	margin-left:80px;
}

.footer__social i{
	color:$colorTurqueza;
	width:40px;
	height:40px;
	border-radius: 50%;
	background:$colorFondoCele;
	text-align:center;
	margin-right:8px;
	line-height: 40px;
	&:hover {
				color: #fff;
				background:$colorAzul;
			}

}
#back-top{
    background: $colorAzul;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;    
    font-size:$titulochico;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow:$Sombraobjetos ;
    i{
    color: #fff;
    font-size:$titulochico;
    }
}

/*CAROUSEL*/

.carousel-caption{
	margin-bottom:200px;
	width:500px;
}

/*BOTONES Y ENLACES*/

.btn-primary{
	background-color:$colorAzul;
	font-size:$titulochico;
	font-weight:500;
	padding:5px 15px 5px 15px;
	border-radius:5px;
	border:none;
}

.btn-primary:hover{
	background-color:#19224c;
}


/*EACH y MAPA*/
$enlaces:( enlaceFotter: 1rem, enlaceSimple: 1rem, botonChico: 1rem, botonMedio: 1.4rem, botonGrande: 1.6rem);

/*Creamos el bucle para usar los valores del mapa*/
@each $boton, $tamañoFont in $enlaces {
   .btn--#{$boton} {
       font-size: $tamañoFont;
   }
}

/*CABECERAS*/

.cabecera{ 
color:white; 
height:250px;
padding-left:150px;
padding-top:50px;
line-height: 5px;
margin-bottom:60px;
}

.cabecera--espe{
	@extend .cabecera;
	background-image: url("../images/CabeceraEspe.png");
	background-size: cover;
}

.cabecera--lab{
	@extend .cabecera;
	background-image: url("../images/CabeceraContacto.png");
	background-size: cover;
}

.cabecera--cont{
	@extend .cabecera;
	background-image: url("../images/CabeceraLab.png");
	background-size: cover;
}

.cabecera--equipo{
	@extend .cabecera;
	background-image: url("../images/CabeceraStaff.png");
	background-size: cover;
}


.cabecera--turnos{
	@extend .cabecera;
	background-image: url("../images/CabeceraTurnos.png");
	background-size: cover;
}


/*ESPECIALIDADES*/


.cardEspecialidad__imagen img{
	width: 440px;
	height:440px;
}

.card{
	border:none;	
}

.cardEspecialidad{
	@extend .cajaBlanca;
	margin:10px;
	margin-bottom:50px;
}

.cardEspecialidad__texto h4{
	font-size:$tituloSecciones;
	color:$colorAzul;
	margin-top:25px;
}


#textoPresentacionLab h3{
	font-size:$tituloSecciones;
	color:$colorAzul;

}
#serviciosPacientes h3{
	font-size:$tituloSecciones;
	color:$colorAzul;
}

.PresentacionLab__img img{
	height:300px;
	}


/* DATOS DE CONTACTO */ 

.infoFormTurnos__form{
margin-bottom:60px;
}
.infoFormTurnos__datos{
	background-color: #F9F9F9;
	width: 450px;
	padding:20px;

}
.infoFormTurnos__texto{
	width: 300px;
	margin:10px;
	text-align:center;
	margin-left:15%;
}

.infoFormTurnos__horarios{
	background-color: #0CCCBE;
	width: 450px;
	padding:20px;
}

.infoFormTurnos__horarios p {
	color:white;
	font-weight: 300;
	font-size: 0.8rem;
	text-align: center;
}

.infoFormTurnos__horarios h4 {
	color:white;
	font-weight: 500;
	font-size: 1rem;
	text-align: center;
}



.infoFormTurnos__form input{
	background-color:#EFEFEF;
	border-radius: 8px;
	border:1px solid #EFEFEF;
	height:40px;
	width:75%;
}
.infoFormTurnos__form p{
	font-size:1rem;
	font-weight:500;
	line-height: 1.2px;
	margin-top:20px;

}
.infoFormTurnos__form .correo{
	height:30px;
}

.infoFormTurnos__form select{
	background-color:#EFEFEF;
	border-radius: 8px;
	border:1px solid #EFEFEF;
	height:40px;
}


.infoFormTurnos__form input[type=submit]{
	background-color:#3a4ca1;
	font-size:1rem;
	font-weight:200;
	color:white;
	border-radius: 5px;
	width:40%;
	height:40px;
}
.infoFormTurnos__form input[type=submit]:hover{
	background-color:#19224c;
}

.infoFormTurnos__form input[type=reset]{
	background-color:transparent;
	font-size:1rem;
	color:#3a4ca1;
	font-weight:200;
	border: 1px solid #3a4ca1;
	border-radius:5px;
	width:50%;
	height:40px;
}
.infoFormTurnos__form input[type=reset]:hover{
	background-color:#3a4ca1;
	color:white;
}

/* FORMULARIOS */ 

input{
background-color:#EFEFEF;
border-radius: 8px;
border:1px solid #EFEFEF;
}

select {
background-color:#EFEFEF;
border-radius: 8px;
border:1px solid #EFEFEF;
width:37%;
height:40px;
}

textarea{
background-color:#EFEFEF;
border-radius: 8px;
border:1px solid #EFEFEF;
width:75%;
}


 input:hover{
	border:1px solid blue;
}

 input:focus{
	border:1px solid blue;
}
 textarea:hover{
	border:1px solid blue;
}
 textarea:focus{
	border:1px solid blue;
}



























@media (max-width:576px) {

	.header__cel{
		display:none;
	}

	.header__mail{
		display:none;
	}
	.header__boton{
		display:none;
	}
	.nav-item{
		padding-left:35px;
	}
	.navbar-toggler{
		margin-left:85px;
		border:none;
	}
	.carousel-caption{
		width:200px;
		bottom:-80px;
		padding-top:35px;
		width:200px;
		height:200px;
	}
	h1{
  	font-size:1.8rem;
	}
	p{
  	line-height:20px;
	}
	#BajoSlider{
	height:400px;
	}
	.laboratorio__contenido{
	padding-left:180px;
	}
	.PresentacionLab__img img{
	height:250px;
	}

}

/*IPAD VERTICAL*/
@media (min-width: 576px) and (max-width: 768px) {

	.header__cel{
		display:none;
	}

	.header__mail{
		display:none;
	}
	.header__boton{
		display:none;
	}
	.nav-item{
		padding-left:35px;
	}
	.navbar-toggler{
		margin-left:85px;
		border:none;
	}
	.carousel-caption{
	margin-bottom:180px;
	margin-right:15px;
	width:250px;
	align-items:start;

	}

	#BajoSlider{
	height:250px;
	width:680px;
	}
	.laboratorio__contenido{
	padding-left:50px;
	}
}


/*LAPTOP*/

@media (min-width: 768px) and (max-width: 1440px) {
	.carousel-caption{
		
		width:500px;
		margin-bottom: 35px;
	}
	.especialidades__imagen img{
		height: 500px;
	}
	.laboratorio__imagen img{
		height: 500px;
	}
}

@media (min-width: 1440px){
	.carousel-caption{
	
	width:500px;
	margin-bottom: 200px;
	}
}
